

<div class="header-upper">
	<!-- BEGIN .wrapper -->
	<div class="wrapper">
		<!--Widget  -- menu top-->
		<ul class="left ot-menu-add" rel="Top Menu" app-widget-menu-top></ul>
		<!--Widget - social-->
		<ul class="right" app-widget-social>

		</ul>
		<div class="clear-float"></div>
		<!-- END .wrapper -->
	</div>
</div>

<!-- BEGIN .wrapper -->
<div class="wrapper">

	<!-- BEGIN .header-content -->
	<div class="header-content">
		<div class="header-logo" app-widget-banner></div>

		<!--Widget-ads : Top -->
		<div class="header-banner" app-widget-ads="top"></div>

		<!-- END .header-content -->
	</div>

	<!-- app-widget-menu-main -->
	<nav id="main-menu" app-widget-menu-main></nav>

	<!-- END .wrapper -->
</div>

<!-- BEGIN .video-slider -->


<!-- END .header -->
