<!--First-->
<a class="page-numbers" *ngIf="pager.currentPage!==1" href="">First</a>
<!--Previous-->
<a class="prev page-numbers" *ngIf="pager.currentPage!==1" href=""><i class="fa fa-caret-left"></i> Previous</a>


<a class="page-numbers"
   *ngFor="let page of pager.pages"
   [ngClass]="{current:pager.currentPage==page}"
   href="#">{{page}}
</a>


<!--Next page-->
<a class="next page-numbers" href="#" *ngIf="pager.currentPage!== pager.totalPages">Next page <i class="fa fa-caret-right"></i></a>
<!--Last-->
<a class="page-numbers" href="#" *ngIf="pager.currentPage!== pager.totalPages">Last</a>


