<app-elm-loader *ngIf="items.length==0 || playlistInfor == null"></app-elm-loader>
<div class="content-panel" *ngIf="playlistInfor">
    <!--ELEMENT PANEL TITLE-->
    <div class="panel-title"
         [app-elm-panel-title]="playlistInfor.title"
         [layout]="layout"
         (myLayout)="changeLayout($event)"
    ></div>

    <div class="panel-block video-list {{layout}}" *ngIf="pagedItems">
        <!--ELEMENT  VIDEO 1-->
        <div class="item"
             *ngFor="let item of pagedItems"
             [app-elm-video]="item"
             show-desc="true">
        </div>
    </div>
</div>
<!--PAGINATION-->
<div class="pagination_asset"
     *ngIf="pager"
     (setCurrentPage)="setPages($event)"
     [app-elm-pager]="pager">

</div>

