<section class="content">
    <!-- BEGIN .wrapper -->
    <div class="wrapper">

        <!-- BEGIN .with-sidebar-layout -->
        <div class="with-sidebar-layout left">
            <!--ELEMENT PLAYLIST : LATEST PLAYLIST-->
            <app-elm-playlist title="Angular" layout="grid"></app-elm-playlist>

            <!--ELEMENT PLAYLIST : LATEST PLAYLIST-->
            <app-elm-playlist title="PHP" layout="hdgrid"></app-elm-playlist>

            <!--WIDGET-ADS : ARTICLE-->
            <div class="content-panel" app-widget-ads="article"></div>

            <!--ELEMENT PLAYLIST : LATEST PLAYLIST-->
            <app-elm-playlist title="Android" layout="list"></app-elm-playlist>

            <!--ELEMENT PLAYLIST : LATEST PLAYLIST-->
            <app-elm-playlist title="Python" layout="hdlist"></app-elm-playlist>

            <!--WIDGET-ADS : ARTICLE-->
            <div class="content-panel" app-widget-ads="article"></div>

            <!-- END .WITH-SIDEBAR-LAYOUT -->
        </div>

        <!-- BEGIN #sidebar -->
        <aside id="sidebar" class="right">
            <!--  APP-WIDGET-PLAYLIST -->
            <div class="widget" app-widget-playlist></div>

            <!-- WIDGET ADS - SIDEBAR -->
            <div class="widget" app-widget-ads="sidebar"></div>

            <!-- WIDGET FEATURED-VIDEO -->
            <div class="widget" app-widget-featured-video></div>


            <!-- END #sidebar -->
        </aside>

        <!-- END .wrapper -->
    </div>

    <!-- BEGIN .content -->
</section>