<!--Top-->
<a *ngIf="position =='top'" href="#" target="_blank">
    <img src="assets/images/ads-banner.jpg" width="468" height="60" alt=""/></a>
<!--Side-bar-->
<div *ngIf="position =='sidebar'" class="banner-widget no-border">
<a href="#" target="_blank">
    <img src="assets/images/ads-sidebar.jpg" width="300" height="250" alt=""/>
</a>
<a href="#" class="banner-meta">
    <i class="fa fa-angle-double-up"></i> Contact us about advert spaces <i class="fa fa-angle-double-up"></i>
</a>
</div>
<!--Article-->
<div *ngIf="position =='article'" class="panel-block banner-block">
    <a href="#" target="_blank"><img src="assets/images/ads-article.jpg" width="468"
                                     height="60"
                                     alt=""></a>
    <a href="#" class="banner-meta"><i class="fa fa-angle-double-up"></i> Contact us
        about advert spaces <i class="fa fa-angle-double-up"></i></a>
</div>